section.Hero {
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  background-image: url('/images/hero.webp');
  background-size: cover;
  background-position: center;
  padding: 2em;
}

section.Hero > div {
  color: white;
}

section.Hero > div > h1 {
  font-size: 3rem;
  max-width: 30rem;
}

section.Hero > div > p {
  max-width: 30rem;
  font-size: 1.2em;
  color: var(--header-border);
}

section.Staff {
  display: grid;
  padding: 1em;
}

section.Staff > img {
  grid-row-start: 2;
  width: 100%;
}

section.Staff > div {
  color: var(--text);
}

section.Staff > div > h1 {
  color: black;
  margin-bottom: 0.5em;
}

section.Staff > div > p:not(:last-of-type) {
  margin-bottom: 0.5em;
}

section.Services {
  display: grid;
  padding: 1em;
}

section.Services > div > h1 {
  margin-bottom: 0.5em;
}

section.Services > div.ServicesList {
  margin-bottom: 2em;
}

section.Services > div.ServicesList > ul {
  list-style: none;
  color: var(--text);
}

section.Services > div.ServicesList > ul > li:not(:last-of-type) {
  margin-bottom: 0.5em;
}

section.Services > div.ServicesExamples {
  position: relative;
  width: 100%;
  height: 48em;
}

section.Services > div.ServicesExamples > img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  max-width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.2s;
}

section.Services > div.ServicesExamples > img.visible {
  visibility: visible;
  opacity: 1;
}

section.Services > div.ServicesExamples > ul {
  display: flex;
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 2em;
}

section.Services > div.ServicesExamples > ul > li {
  --dimension: 0.75em;
  width: var(--dimension);
  height: var(--dimension);
  background-color: rgba(0,0,0,0.3);
  border-radius: 100%;
  cursor: pointer;
}

section.Services > div.ServicesExamples > ul > li.current {
  background-color: rgba(0,0,0,0.7);
  box-shadow: 0 0 2px rgba(0,0,0,0.9);
}

section.Services > div.ServicesExamples > ul > li:not(:last-of-type) {
  margin-right: 0.5em;
}

section.VisitUs {
  display: grid;
  padding: 1em;
}

section.VisitUs > div {
  margin-bottom: 1em;
}

section.VisitUs > div > div {
  margin-bottom: 1em;
}

section.VisitUs > div > div > h1 {
  margin-bottom: 0.5em;
}

section.VisitUs > div > div > p {
  display: grid;
  row-gap: 0.5em;
  color: var(--text);
}

section.VisitUs > div > ul {
  display: flex;
  list-style: none;
}

section.VisitUs > div > ul > li > a > img {
  height: 2em;
}

section.VisitUs > div > ul > li:not(:last-of-type) {
  margin-right: 0.5em;
}

section.VisitUs > div > h1 {
  margin-bottom: 1em;
}


section.VisitUs > img {
  grid-row-start: 2;
  width: 100%;
  border-radius: 8px;
}

@media (min-width: 768px) {
  section.Staff, section.Services, section.VisitUs {
    grid-template-columns: 50% 1fr;
    padding: 2em;
  }

  section.Staff > img, section.VisitUs > img {
    grid-row-start: 1;
  }

  section.VisitUs > div {
    padding-left: 2em;
  }
}

@media (min-width: 1024px) {
  section.Staff, section.Services, section.VisitUs {
    padding: 4em;
  }
}
